.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

# IDE files
.idea/

#Firebase config for Android
android/app/google-services.json
#Firebase config for iOS
ios/Runner/GoogleService-Info.plist